
Old_projects/06_client_old.py
web-goit-algo-hw-01/hw.py
web-goit-algo-hw-01/poetry.lock
web-goit-algo-hw-01/pyproject.toml
web-goit-algo-hw-01/test24.py
Web_25/goit-web-hw-03/factorize_sync2.py
web-goit-algo-hw-01/hw.py
goit-web-hw-03/Task01/dist/jpeg/1-UTGVejeSej9w7x_aRuZ1IA.jpeg
goit-web-hw-03/Task01/dist/jpeg/1-UTGVejeSej9w7x_aRuZ1IA.jpeg
web-goit-algo-hw-01/hw.py
goit-algo-hw-08/task01_hw_08.py
goit-web-hw-13b\hw_project\.env
goit-web-hw-13a\.env
